name: Deploy ML App

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Build Docker image
      run: docker build -t ml-app:1.0 .

    - name: Save Docker image to a tar file
      run: docker save ml-app:1.0 -o ml-app.tar

    - name: Upload Docker image tar file
      uses: actions/upload-artifact@v2
      with:
        name: ml-app-image
        path: ml-app.tar

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Download Docker image tar file
      uses: actions/download-artifact@v2
      with:
        name: ml-app-image

    - name: Set up Minikube
      run: |
        curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
        sudo install minikube-linux-amd64 /usr/local/bin/minikube
        minikube start --driver=docker

    - name: Load Docker image into Minikube
      run: minikube image load ml-app.tar

    - name: Set up kubectl
      run: |
        minikube kubectl -- get po -A
        mkdir -p $HOME/.kube
        touch $HOME/.kube/config
        minikube kubectl -- config view --raw > $HOME/.kube/config

    - name: Deploy to Minikube
      run: |
        kubectl apply -f ./ml-deployment.yaml
        kubectl apply -f ./ml-service.yaml
